node_modules/
app/static/

# Python bytecode
*.pyc
*.pyo
__pycache__/

# Virtual environment
.venv/

# Flask-specific files
instance/
*.db

# Configuration files
*.env
*.local

# Logs
*.log

# IDE or editor-specific files
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store  # macOS
Thumbs.db  # Windows
